<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Release2008R2">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://idws.syndication.kbb.com/3.0/VehicleInformationService2008R2.svc/Soap11"
                binding="basicHttpBinding" bindingConfiguration="Release2008R2"
                contract="KBBServiceEndPoint.IVehicleInformationService2008R2"
                name="Release2008R2" />
        </client>
    </system.serviceModel>
</configuration>