<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="whitmanenterprisewarehouseEntities" connectionString="metadata=res://*/Whitmanenterprisewarehouse.csdl|res://*/Whitmanenterprisewarehouse.ssdl|res://*/Whitmanenterprisewarehouse.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=207.198.97.35;User Id=vincontroladmin;password=saigon1451;database=whitmanenterprisewarehousetest;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="vincontrolwarehouseEntities" connectionString="metadata=res://*/VinControlWareHouse.csdl|res://*/VinControlWareHouse.ssdl|res://*/VinControlWareHouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.198.97.35;initial catalog=vincontrolwarehouse;persist security info=True;user id=vincontroladmin;password=saigon1451;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="vincontrolscrappingEntities" connectionString="metadata=res://*/VinControlScrapping.csdl|res://*/VinControlScrapping.ssdl|res://*/VinControlScrapping.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=207.198.97.35;password=saigon1451;User Id=vincontroladmin;Persist Security Info=True;database=vincontrolscrapping&quot;" providerName="System.Data.EntityClient" />
    <add name="whitmanenterprisecraigslistEntities" connectionString="metadata=res://*/VinControlCraigsList.csdl|res://*/VinControlCraigsList.ssdl|res://*/VinControlCraigsList.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=97.74.87.215;User Id=vincontroladmin;password=saigon1451;Persist Security Info=True;database=whitmanenterprisecraigslist&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="TrackEmailAccount" value="vinleads@vincontrol.com" />
    <add key="TradeInTrackEmailAccount" value="whitmandealerleads@yahoo.com" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="TradeInEmail" value="tradein@vehicleinventorynetwork.com" />
    <add key="DefaultFromEmail" value="vinleads@vincontrol.com" />
    <add key="TrackEmailPass" value="jeff1451" />
    <add key="DisplayName" value="VINCONTROL" />
    <add key="IntervalMinutes" value="1" />
    <add key="EventLogFolderPath" value="C:\VinControlScrapping\DNSSystem\Log\" />
    <add key="CLAPPFTPUsername" value="f259347.cldatafeed" />
    <add key="CLAPPFTPPassword" value="INVENTORYMANAGER" />
    <add key="CLAPPFTPPort" value="21" />
    <add key="CLAPPFTPHost" value="66.11.234.38" />
    <add key="FTPVinwindowUsername" value="vindad" />
    <add key="FTPVinwindowPassword" value="jeff1451" />
    <add key="FTPVinwindowPort" value="21" />
    <add key="FTPVinwindowHost" value="ftp.vinwindow.net" />
    <add key="FTPVinworldUsername" value="vinworld" />
    <add key="FTPVinworldPassword" value="fwayisuzu" />
    <add key="FTPVinworldwPort" value="21" />
    <add key="FTPVinworldHost" value="ftp.vinworld.us" />
    <add key="DefaultDescription" value="CALL US ABOUT THIS VEHICLE FOR MORE INFORMATION" />
    <add key="DealerListPath" value="C:\VinControlScrapping\DNSSystem\DealerList.xml" />
    <add key="DataFeedSetupTime" value="03:30:00 AM,11:59:00 AM,12:43:00 PM,02:29:00 PM,07:44:00 PM" />
    <add key="accountNumber" value="283233" />
    <add key="accountSecret" value="2fa35a763a794ce5" />
    <add key="country" value="US" />
    <add key="language" value="en" />
    <add key="CaxFaxProductDataId" value="E1428055F9C029C2" />
    <add key="CaxFaxServerURL" value="https://secured.CARFAX.com/partner/service.cfx" />
    <add key="TestUserName" value="C490214" />
    <add key="TestPassword" value="66287" />
    <add key="LocalDataFeedFoler" value="D:\DataFeedTesting\" />
    <add key="FtpDataFeedFolder" value="DataFeedTesting" />
    <add key="VinFtpHost" value="ftp.auto-lineup.com" />
    <add key="VinFtpPort" value="21" />
    <add key="VinFtpUser" value="autoline" />
    <add key="VinFtpPassword" value="saigon1451" />
    <add key="VinFtpBackupImportDataFeed" value="BackupImporting" />
    <add key="VinFtpBackupExportDataFeed" value="BackupExporting" />
    <add key="LocalBackupImportDataFeed" value="C:\BackupDataFeedImporting" />
    <add key="LocalBackupExportDataFeed" value="C:\BackupDataFeedExporting" />
    <add key="VinFtpExportDataFeed" value="Exporting" />
    <add key="DataFeedUserDomain" value="VINCONTROL-HP\vincontrol" />
    <add key="DataFeedPasswordDomain" value="jeff1451" />

    <!--KELLY BLUE BOOK-->
    <add key="KBBUserName" value="VehicleInventoryNetwork" />
    <add key="KBBPassword" value="FeHE!z6h" />
  </appSettings>
</configuration>