<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=216.55.131.23;Initial Catalog=aspnetdb;User ID=vincontroladmin;Password=saigon1451;Integrated Security=False;Trusted_Connection=yes" />
    <add name="VincontrolEntities" connectionString="metadata=res://*/Model.VincontrolModel.csdl|res://*/Model.VincontrolModel.ssdl|res://*/Model.VincontrolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=68.168.111.13;initial catalog=Vincontrol;user id=vinadmin;password=Saigon1451;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VINReviewEntities" connectionString="metadata=res://*/Model.VinreviewModel.csdl|res://*/Model.VinreviewModel.ssdl|res://*/Model.VinreviewModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=68.168.111.13;initial catalog=VINReview;user id=vinadmin;password=Saigon1451;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinMarketEntities" connectionString="metadata=res://*/Model.VinMarketModel.csdl|res://*/Model.VinMarketModel.ssdl|res://*/Model.VinMarketModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=68.168.111.13;initial catalog=VinMarket;persist security info=True;user id=vinadmin;password=Saigon1451;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinsellEntities" connectionString="metadata=res://*/Model.Vinsell.csdl|res://*/Model.Vinsell.ssdl|res://*/Model.Vinsell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=68.168.111.13;initial catalog=Vinsell;persist security info=True;user id=vinadmin;password=Saigon1451;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinChatEntities" connectionString="metadata=res://*/Model.VinChatModel.csdl|res://*/Model.VinChatModel.ssdl|res://*/Model.VinChatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=68.168.111.13;initial catalog=VinChat;user id=vinadmin;password=Saigon1451;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinCommercialTruckEntities" connectionString="metadata=res://*/Model.Truck.VinCommercialTruckModel.csdl|res://*/Model.Truck.VinCommercialTruckModel.ssdl|res://*/Model.Truck.VinCommercialTruckModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=68.168.111.13;initial catalog=VinMarket;user id=vinadmin;password=Saigon1451;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="accountNumber" value="283233" />
    <add key="accountSecret" value="2fa35a763a794ce5" />
    <add key="country" value="US" />
    <add key="language" value="en" />
    <add key="zipcode" value="92614" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CaxFaxProductDataId" value="E1428055F9C029C2" />
    <add key="CaxFaxServerURL" value="https://secured.CARFAX.com/partner/service.cfx" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"><assemblies><add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies></compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <httpProtocol>
     <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="*" />
     <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
     </customHeaders>
  </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Description7aBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="100000000" maxReceivedMessageSize="100000000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="UsedCarWS" />
        <binding name="UsedCarWSSoap" />
        <binding name="Release2008R2">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="UsedCarWS1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="UsedCarWSSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="secure" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="100000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://sample.idws.syndication.kbb.com/3.0/VehicleInformationService.svc" binding="wsHttpBinding" bindingConfiguration="secure" contract="IVehicleInformationService" name="secure" />
      <endpoint address="http://services.chromedata.com:80/Description/7a" binding="basicHttpBinding" bindingConfiguration="Description7aBinding" contract="AutomativeService.Description7aPortType" name="Description7aPort" />
      <endpoint address="http://www.nationalautoresearch.com/WebServices/UsedCarWS.asmx" binding="basicHttpBinding" bindingConfiguration="UsedCarWS" contract="NationalAutosearch.UsedCarWS" name="UsedCarWS" />
      <endpoint address="http://www.nationalautoresearch.com/WebServices/UsedCarWS.asmx" binding="basicHttpBinding" bindingConfiguration="UsedCarWSSoap" contract="NationalAutosearch.UsedCarWSSoap" name="UsedCarWSSoap" />
      <endpoint address="http://www.nationalautoresearch.com/WebServices/UsedCarWS.asmx" binding="customBinding" bindingConfiguration="UsedCarWS1" contract="NationalAutosearch.UsedCarWS" name="UsedCarWS1" />
      <endpoint address="http://www.nationalautoresearch.com/WebServices/UsedCarWS.asmx" binding="customBinding" bindingConfiguration="UsedCarWSSoap12" contract="NationalAutosearch.UsedCarWSSoap" name="UsedCarWSSoap12" />
      <endpoint address="https://idws.syndication.kbb.com/3.0/VehicleInformationService2008R2.svc/Soap11" binding="basicHttpBinding" bindingConfiguration="Release2008R2" contract="KBBServiceEndPoint.IVehicleInformationService2008R2" name="Release2008R2" />
    </client>
  </system.serviceModel>
</configuration>