<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WhitmanEnterpriseMVC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="TrackEmailAccount" value="alerts@vincontrol.com" />
    <add key="TradeInTrackEmailAccount" value="vinleads@vincontrol.com" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="TradeInEmail" value="tradein@vincontrol.com" />
    <add key="DefaultFromEmail" value="alerts@vincontrol.com" />
    <add key="TrackEmailPass" value="jeff1451" />
    <add key="DisplayName" value="VINCONTROL" />
    <add key="TradeInDisplayName" value="Vincontrol" />
    <add key="DefaultPass" value="jeff1451" />
    <add key="FolderPath" value="http://localhost:32693/uploads/" />
    <add key="accountNumber" value="283233" />
    <add key="accountSecret" value="2fa35a763a794ce5" />
    <add key="country" value="US" />
    <add key="language" value="en" />
    <add key="zipcode" value="92614" />
    <add key="maxCharactersInDescription" value="350" />
    <add key="proxyConfigFile" value="C:\DealershipData\Config\app.config" />
    <add key="databaseName" value="whitmanenterprisewarehouse" />
    <add key="TimeOut" value="120000" />
    <add key="UsernameVinControl" value="vincontr" />
    <add key="PasswordVinControl" value="jeff1451" />
    <add key="PortVinControl" value="21" />
    <add key="HostVinControl" value="ftp.vincontrol.com" />
    <add key="SecretCode" value="BestVin" />
    <!--Ebay-->
    <add key="EbayappId" value="VehicleI-8d13-4b8a-8817-a31c8849c486" />
    <add key="EbaydevId" value="2f5f7034-0b98-4f21-9034-2efe7b31aef2" />
    <add key="EbaycertId" value="38424339-c645-49be-9fe6-9c14895980c1" />
    <add key="SiteID" value="100" />
    <add key="Version" value="761" />
    <add key="APIServerURL" value="https://api.ebay.com/ws/api.dll" />
    <add key="APISandboxServerURL" value="https://api.sandbox.ebay.com/ws/api.dll" />
    <add key="UserToken" value="AgAAAA**AQAAAA**aAAAAA**kE1ETw**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4GhCJWDogWdj6x9nY+seQ**+bABAA**AAMAAA**Gbay9c4wFiFVTCWevm/rgFB5uO0QKjgOwgK05bGlbEl94kktFL/IBDYQ/hddjpiRIKxULDz+pz8PAej45WuBlp5hYcrJiOxICBe2AQeo2HUQdIgl76tlz18LksGBILZq0oojeTeTAcwPCt/K07F58sioeO7Z3K59kThBbFPgXMMbB4Il6RN/d8EhO6egsPft6RJVkXvvpTeZomZrvoKLly+nH0xueVOtvovdutYHIzWiABGaL0RMu36i/SiLZNgFVA+fBn4gz9yxlpthkKjK4P1rTzrNe/yP1x0M/YeUfZXkF8CB4nDvppqpZ5IAFE5mr/zAZK0PN+q/W+RvLOUEVuJK1XEL8Su/gaxWv67q1Ldb8RPlb+gl+veYD8j10iZsS2mkghqyA+bxr9wnmxpH6wkjZkDpghXM4C2wyuJ200ao32SPXu91KbpiVgRo6XlhBEELBY7eEq6jHytCaTonCcRNXht89mZHH/wf4AtodpyMVgmcbKOvlgCmJlrq5z/53T6G3y7kPGu10l3y65vUpBpXNLESsTQh+24RJWmzwnoDYe44/2uQucmWufIGtiw9kjIbXrW5s/1ZWkUjW6ZeKq6H0Vth3mJT7XuNrbU57Ui0m8c/M8N4Z7ALm4X/XPhNdED8+HOZCHnp4ol1AQmXmOCLC0F5D2UKQ88eIS/MqE7e+LfRq0tnvgW0Ev1hu4FBqze/8wg4IuIysVXOhgD5OkEH628YhyP4mBqiNHtnFCHeYlmEx+329LmXY2lRltZ/" />
    <!--CarFAX-->
    <add key="CaxFaxProductDataId" value="E1428055F9C029C2" />
    <add key="CaxFaxServerURL" value="https://secured.CARFAX.com/partner/service.cfx" />
    <add key="TestUserName" value="C490214" />
    <add key="TestPassword" value="66287" />
    <!--KELLY BLUE BOOK-->
    <add key="KBBUserName" value="VehicleInventoryNetwork" />
    <add key="KBBPassword" value="FeHE!z6h" />
    <add key="KBBStatus" value="inactive" />
    <!--PDF-->
    <add key="PDFSerialNumber" value="gMjp0dDk5szp4vLh8vm1rrCgsaCxoLS4taCzsa6xsq65ubm5" />
    <!--Nvelocity-->
    <add key="NVelocityHtmlTemplateFolder" value="NVelocity/HTML" />
    <!--Maintenace-->
    <add key="MaintenanceStartDateTime" value="6/4/2013 4:18:12 PM" />
    <add key="MaintenanceEndDateTime" value="6/4/2013 5:18:12 PM" />
    <add key="IsMaintenance" value="true" />
    <add key="NotifyBeforeInMinutes" value="2" />
    <!--Pendragon-->
    <add key="Pendragon" value="G1010" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="WebAPIServerURL" value="http://www.vincontrol.com:5432/api" />
    <add key="WebServerURL" value="http://apps.vincontrol.com" />
    <!--<add key="WebAPIServerURL" value="http://www.carslisting.us:3366/api" />
    <add key="WebServerURL" value="http://www.carslisting.us" />-->
    <!-- Craigslist -->
    <!-- Craigslist -->
    <add key="craigslist:Email" value="TestyFlavor518@yahoo.com" />
    <add key="craigslist:Password" value="wCjdpMyD02" />
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="1122;True;11952;1;-8588087650656955201" />
    <!-- CarMax-->
    <add key="carmax:MakeName" value="Acura" />
    <add key="carmax:MakeValue" value="4294966911" />
    <!-- Securenet -->
    <add key="SecureNetUserName" value="vincreditpayment" />
    <add key="SecureNetPassword" value="MDvJ7dksdP" />
    <!-- Facebook API -->
    <add key="facebook:AppID" value="1412310822338075" />
    <add key="facebook:AppSecret" value="8840773be7acdda32558472f5c15bd56" />
    <add key="facebook:PageToken" value="CAAUEfTzgvhsBAAIzICVpYTIzOEvGASZBAGgp0KQqprduJv88D6TDrYOG3aBPoTKZAwEWBy3Rtb5NQwwmmoms2HgcIz5KkLgUU3RI0dPCtK3WdfCaHrg56T01aro5gpCblSbiiYdLqe7wwFFM1NiZAkv15dgkgZBO2dbrZBEP4PpP5XaZCULPm0XzEt4DtKzDUZD" />
    <add key="facebook:PersonalId" value="100007143961498" />
    <add key="facebook:GraphAPI" value="https://graph.facebook.com" />
    <add key="facebook:FanPage" value="197880023730453" />
    <!-- Youtube API -->
    <add key="youtube:ClientID" value="1031917676170-a5jffpbadj89bbi81ot2bco2lv8tbok2.apps.googleusercontent.com" />
    <add key="youtube:ClientSecret" value="lOT_oWfUQ4G7ej-sYVfe5j2v" />
    <add key="youtube:DeveloperKey" value="AI39si6hLKdZE_Go7PcTZNWyl8Y4jNyTvWJc7rPzOQ4w5QHVFqwszppVJloMQmibNWjvZTQSe3B9lTrUfsU3yke3N2n6HNV8OQ" />
    <add key="youtube:UserID" value="QSFRQiN_baM7mqdCHkC5bg" />
    <!-- Google API -->
    <add key="google:APIKey" value="AIzaSyAYhltpdleSNTv1nKiGf2w3dSGS4VMEry0" />
  </appSettings>
  <log4net>
    <!--
  This writes the log information to the console window.  It only logs events
  that are at least at the INFO level (which would mean that DEBUG events are not
  captured.
  -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newlineExtra Info: %property{testProperty}%newline%exception" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <!--
  This stores information in the VINControl.Log.txt file.  It only captures log events
  that contain the key word test or error.
  -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="VINControl.Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="test" />
      </filter>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="error" />
      </filter>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
      <!--<filter type="log4net.Filter.DenyAllFilter"/>-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] [%thread] %level - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <logger name="Log4NetTest.OtherClass">
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
  </log4net>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=216.55.131.23;Initial Catalog=aspnetdb;User ID=vincontroladmin;Password=saigon1451;Integrated Security=False;Trusted_Connection=yes" />
    <add name="VincontrolEntities" connectionString="metadata=res://*/Model.VincontrolModel.csdl|res://*/Model.VincontrolModel.ssdl|res://*/Model.VincontrolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.55.131.169;initial catalog=Vincontrol;user id=vinadmin;password=Saigon1451;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VINReviewEntities" connectionString="metadata=res://*/Model.VinreviewModel.csdl|res://*/Model.VinreviewModel.ssdl|res://*/Model.VinreviewModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.55.131.169;initial catalog=VINReview;user id=vinadmin;password=Saigon1451;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinMarketEntities" connectionString="metadata=res://*/Model.VinMarketModel.csdl|res://*/Model.VinMarketModel.ssdl|res://*/Model.VinMarketModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.55.131.23;initial catalog=VinMarket;persist security info=True;user id=vinadmin;password=Saigon1451;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinsellEntities" connectionString="metadata=res://*/Model.Vinsell.csdl|res://*/Model.Vinsell.ssdl|res://*/Model.Vinsell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Vinsell;persist security info=True;user id=vinadmin;password=Saigon1451;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinChatEntities" connectionString="metadata=res://*/Model.VinChatModel.csdl|res://*/Model.VinChatModel.ssdl|res://*/Model.VinChatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.55.131.169;initial catalog=VinChat;user id=vinadmin;password=Saigon1451;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinCommercialTruckEntities" connectionString="metadata=res://*/Model.Truck.VinCommercialTruckModel.csdl|res://*/Model.Truck.VinCommercialTruckModel.ssdl|res://*/Model.Truck.VinCommercialTruckModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.55.187.50;initial catalog=VinMarket;user id=vinadmin;password=Saigon1451;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CLDMSEntities" connectionString="metadata=res://*/Model.CLDMS.CLDMS.csdl|res://*/Model.CLDMS.CLDMS.ssdl|res://*/Model.CLDMS.CLDMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=CLDMS;user id=vinadmin;password=Saigon1451;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <trust level="Full" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOff" timeout="122000000" defaultUrl="http://vincontrol.com/VinControl" slidingExpiration="true" />
    </authentication>
    <machineKey decryption="AES" decryptionKey="89FC3FE39734029C1D577BF681CA000A554E88D1A5A61B9F" validation="SHA1" validationKey="2657ED9517B9CCCE58ADF74DF5F198C369E3451CE44F62DCABD1869D597D5F7FF22B4BBEA42483E2171C7B9334EA497CD43BC9047A3A07F480EE399FC627E77D" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="~/Error/NoAccess" />
      <error statusCode="404" redirect="~/Error/FileNotFound" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <sessionState mode="InProc" timeout="60" />
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="UrlRoutingHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="11.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly xmlns="">
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.DataAnnotations" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Routing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.Entity" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
    <legacyHMACWarning enabled="0" />
  </runtime>
  <applicationSettings>
    <WhitmanEnterpriseMVC.Properties.Settings>
      <setting name="WhitmanEnterpriseMVC_com_nationalautoresearch_www_UsedCarWS" serializeAs="String">
        <value>http://www.nationalautoresearch.com/WebServices/UsedCarWS.asmx</value>
      </setting>
      <setting name="WhitmanEnterpriseMVC_com_chromedata_services_Description7a_Description7a" serializeAs="String">
        <value>http://services.chromedata.com:80/Description/7a</value>
      </setting>
    </WhitmanEnterpriseMVC.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Description7aBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="100000000" maxReceivedMessageSize="100000000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="UsedCarWS" />
        <binding name="UsedCarWSSoap" />
        <binding name="Release2008R2">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="UsedCarWS1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="UsedCarWSSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="secure" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="100000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://sample.idws.syndication.kbb.com/3.0/VehicleInformationService.svc" binding="wsHttpBinding" bindingConfiguration="secure" contract="IVehicleInformationService" name="secure" />
      <endpoint address="http://services.chromedata.com:80/Description/7a" binding="basicHttpBinding" bindingConfiguration="Description7aBinding" contract="AutomativeService.Description7aPortType" name="Description7aPort" />
      <endpoint address="http://www.nationalautoresearch.com/WebServices/UsedCarWS.asmx" binding="basicHttpBinding" bindingConfiguration="UsedCarWS" contract="NationalAutosearch.UsedCarWS" name="UsedCarWS" />
      <endpoint address="http://www.nationalautoresearch.com/WebServices/UsedCarWS.asmx" binding="basicHttpBinding" bindingConfiguration="UsedCarWSSoap" contract="NationalAutosearch.UsedCarWSSoap" name="UsedCarWSSoap" />
      <endpoint address="http://www.nationalautoresearch.com/WebServices/UsedCarWS.asmx" binding="customBinding" bindingConfiguration="UsedCarWS1" contract="NationalAutosearch.UsedCarWS" name="UsedCarWS1" />
      <endpoint address="http://www.nationalautoresearch.com/WebServices/UsedCarWS.asmx" binding="customBinding" bindingConfiguration="UsedCarWSSoap12" contract="NationalAutosearch.UsedCarWSSoap" name="UsedCarWSSoap12" />
      <endpoint address="https://idws.syndication.kbb.com/3.0/VehicleInformationService2008R2.svc/Soap11" binding="basicHttpBinding" bindingConfiguration="Release2008R2" contract="KBBServiceEndPoint.IVehicleInformationService2008R2" name="Release2008R2" />
    </client>
  </system.serviceModel>
  <system.net>
    <defaultProxy enabled="true" />
    <settings></settings>
  </system.net>
  <dotNetOpenAuth>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts></whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
    <openid>
      <relyingParty>
        <security requireSsl="false"></security>
        <behaviors>
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
        </behaviors>
      </relyingParty>
    </openid>
  </dotNetOpenAuth>
  <uri>
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
</configuration>