<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VINCapture.UploadImage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="vincontrolwarehouseEntities" connectionString="metadata=res://*/Model.VincontrolWarehouse.csdl|res://*/Model.VincontrolWarehouse.ssdl|res://*/Model.VincontrolWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.55.131.169;initial catalog=vincontrolwarehouse;persist security info=True;user id=vincontroladmin;password=saigon1451;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VincontrolEntities" connectionString="metadata=res://*/Model.VincontrolModel.csdl|res://*/Model.VincontrolModel.ssdl|res://*/Model.VincontrolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.55.131.169;initial catalog=Vincontrol;user id=vinadmin;password=Saigon1451;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinsellEntities" connectionString="metadata=res://*/Model.VinsellModel.csdl|res://*/Model.VinsellModel.ssdl|res://*/Model.VinsellModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.55.131.169;initial catalog=Vinsell;user id=vinadmin;password=Saigon1451;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinMarketEntities" connectionString="metadata=res://*/Model.VinMarketModel.csdl|res://*/Model.VinMarketModel.ssdl|res://*/Model.VinMarketModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.55.131.23;initial catalog=VinMarket;persist security info=True;user id=vinadmin;password=Saigon1451;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinReviewEntities" connectionString="metadata=res://*/Model.VinReviewModel.csdl|res://*/Model.VinReviewModel.ssdl|res://*/Model.VinReviewModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.55.131.23;initial catalog=VinReview;user id=vinadmin;password=Saigon1451;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinChatEntities" connectionString="metadata=res://*/Model.VinChatModel.csdl|res://*/Model.VinChatModel.ssdl|res://*/Model.VinChatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.55.131.23;initial catalog=VinChat;user id=vinadmin;password=Saigon1451;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinCommercialTruckEntities" connectionString="metadata=res://*/Model.Truck.VinCommercialTruckModel.csdl|res://*/Model.Truck.VinCommercialTruckModel.ssdl|res://*/Model.Truck.VinCommercialTruckModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.55.187.50;initial catalog=VinMarket;user id=vinadmin;password=Saigon1451;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  <appSettings>
    <add key="ImageFTPServer" value="216.55.131.198" />
    <add key="ImageFTPUserName" value="vincontroladmin" />
    <add key="ImageFTPPassword" value="saigon1451" />
    <add key="WebURL" value="http://apps.vincontrol.com/" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="DisplayName" value="VINCONTROL" />
    <add key="DefaultFromEmail" value="vinleads@vincontrol.com" />
    <add key="TrackEmailPass" value="jeff1451" />
    <add key="PDFSerialNumber" value="gMjp0dDk5szp4vLh8vm1rrCgsaCxoLS4taCzsa6xsq65ubm5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="CCEmails" value="jeff@vincontrol.com,travis@vincontrol.com,adam@vincontrol.com" />
    <add key="TaskServer" value="http://vincontrol.com:4411/vincapture/SendEmail" />
    
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <VINCapture.UploadImage.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
    </VINCapture.UploadImage.Properties.Settings>
  </userSettings>
</configuration>