<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VincontrolEntities" connectionString="metadata=res://vincontrol.Data/Model.VincontrolModel.csdl|res://vincontrol.Data/Model.VincontrolModel.ssdl|res://vincontrol.Data/Model.VincontrolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.55.131.169;initial catalog=Vincontrol;user id=vinadmin;password=Saigon1451;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VinMarketEntities" connectionString="metadata=res://vincontrol.Data/Model.VinMarketModel.csdl|res://vincontrol.Data/Model.VinMarketModel.ssdl|res://vincontrol.Data/Model.VinMarketModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.55.131.23;initial catalog=VinMarket;persist security info=True;user id=vinsa;password=jeff1451;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>