<div id="pager" class="pager" style="padding-top: 10px;">
    <form style="font-size: 11px; margin-bottom: 0px; width: auto;">

        <img alt="" src="../../js/tablesorter/addons/pager/first.png" class="first" style="cursor: pointer" />
        <img alt="" src="../../js/tablesorter/addons/pager/prev.png" class="prev" style="cursor: pointer" />

        <input type="text" class="pagedisplay" style="font-size: 11px; border: 0px; background-color: #e5eaf0; text-align: center; vertical-align: top; margin-top: -1px; width: 50px;" readonly="readonly" />

        <img alt="" src="../../js/tablesorter/addons/pager/next.png" class="next" style="cursor: pointer" />
        <img alt="" src="../../js/tablesorter/addons/pager/last.png" class="last" style="cursor: pointer" />

        <select class="pagesize" style="font-size: 11px; padding: 1px 2px; vertical-align: top; margin-top: -2px;">
            <option selected="selected" value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
        </select>
    </form>
</div>
