html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background: #d4dcea;
}

.verticle-border {
  width: 1250px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  background: #d4dcea url('images/bg-border.png') top repeat-y !important;
}

.bottom-cap {
  width: 1250px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  background: #d4dcea url('images/bg-bottom-cap.png') top no-repeat !important;
  height: 60px;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.out-wrap {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 1250px;
  background: #e8eaef url('images/bg-repeat.jpg') top left repeat-x !important;
}

a {
  text-decoration: none;
  color: #2e58b0;
}

.top-bar {
  position: absolute;
  top: 30px;
  background: #003399;
  width: 1222px;
  color: white;
  font-weight: bold;
}

.top-bar > div {
  display: inline-block;
  float: right;
}

.sidebar {
  display: inline-block;
  float: left;
  max-height: 80%;
  min-height: 720px;
  background: white url('images/sidebar-bg.jpg') bottom left no-repeat;
  box-shadow: 2px 2px 5px rgba(0,0,0,.4);
  margin-top: 30px;
  position: relative;
  z-index: 10;
}

.sidebar .logo {
  height: 84px;
  text-align: center;
}

.sidebar .search {
  background: #003399;
  padding: 20px;
}

.sidebar .search a {
  color: white;
  position: relative;
  top: 1px;
  left: 5px;
  font-size: .9em
}

.sidebar .controls button {
  background: #bbb;
  border: 0;
  padding: .2em .9em .2em .9em;
}

.sidebar #nav {
  display: block;
  overflow: hidden;
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
}

.sidebar #nav ul {
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
}

.sidebar #nav li {
  background: white;
  font-size: 1.4em;
  margin-bottom: 3px;
  cursor: pointer;
  position: relative;
}

.sidebar #nav li:hover {
  background: #eee;
}

.sidebar #nav li.active {
  background-color: #d8d8d8;
}

.sidebar #nav a {
  display: block;
  padding: 10px;
}

.container {
  width: 980px;
  display: block;
  overflow: hidden;
  padding-left: 35px;
  padding-bottom: 6px;
}
.chartcontainer {
  width: 980px;
  display: block;
  overflow: hidden;
  padding-top: 120px;
}


.container .inner-wrap {
  display: block;
  width: 980px;
  float: right;
}

.content {
  width: 950px;
  height: 575px;
  background: white;
  box-shadow: 2px 2px 5px rgba(0,0,0,.4);
}

.container .page-info {
  margin-top: 56px;
  padding-top: 2px;
  height: 56px;
  display: block;
  position: relative;
}

.container .page-info span {
  padding: 0;
  margin: 0;
  font-size: .9em;
  color: #555;
}

.container .page-info h3 {
  margin: 0;
  padding: 0;
  color: #161e8a;
}

.filter-box {
  height: 60px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.list td {
  padding: 10px 0px 10px 10px;
  font-size: .8em;
}

.list thead th {
  background: #555;
  color: white;
  padding: 10px 0px 10px 10px;
  text-align: left;
  font-size: .8em !important;
}

.list tbody td {
  cursor: pointer;
}

.list tbody tr:nth-child(2n+2) td {
  background: #ddd;
}

.list tbody tr:hover td {
  background: #161e8a;
  color: white;
}

table.list thead tr {
  left: 0; top: 0;
  position: absolute;
}

tbody td {
  background: white;
}

.scrollableContainer {
  position: relative;
  width: 100%;
  padding-top: 35px;
  background: #aab;
}

div.scrollingArea {
  height: 539px;
  overflow: auto;
}

.cr {
  background: orange;
  color: white;
  display: inline-block;
  text-shadow: 0px 0px 3px brown;
  font-weight: bold;
  font-size: .8em;
  border: brown solid 1px;
  padding: .1em .5em .1em .5em;
}

.filter-box .filter {
  float: right;
  color: white;
  padding: 20px;
}

.popup {
  position: absolute;
  top: 60%;
  margin-top: -200px;
  left: 60%;
  margin-left: -300px;
  width: 600px;
  height: 400px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 0px 10px black;
  z-index: 1000
}

.popup button.close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10001
}

.popup .auction-list {
  width: 100%;
}

.popup .auction-list {
  padding: 10px 0px 10px 10px;
}

.popup div.scrollingArea {
  height: 400px;
  overflow: auto;
}

.popup table thead tr {
  left: 0; top: 0;
  position: absolute;
}

.popup table td {
  background: white;
  padding-top: 5px;
}

.popup table.auction-list {
  padding: 20px;
  padding-top: 10px;
  background: white;
  font-size: 1em
}

.popup th.state {
  width: 343px;
  height: 60px;
  overflow: hidden;
  padding: 14px;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
  font-size: 1.7em;
  color: white;
  background: #6770f0;
}

.popup th.num-auctions {
  width: 220px;
  height: 60px;
  overflow: hidden;
  padding: 14px;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
  font-size: 1.7em;
  color: white;
  background: #161e8a;
}

.popup .scrollableContainer {
  position: relative;
  width: 100%;
  padding-top: 61px;
  background: #aab !important;
}

/* ============================================================================================================================
== BUBBLE WITH A BORDER AND TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border {
  position:relative;
  margin:1em 0 3em;
  border:5px solid #333;
  color:#333;
  background:#fff;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
  margin-left:30px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
  margin-right:30px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
    border-width:20px 20px 0;
  border-style:solid;
    border-color:#333 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* Variant : top
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.top:before {
  top:-20px; /* value = - border-top-width - border-bottom-width */
  bottom:auto;
  left:auto;
  right:40px; /* controls horizontal position */
  border-width:0 20px 20px;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
  top:-13px; /* value = - border-top-width - border-bottom-width */
  bottom:auto;
  left:auto;
  right:47px; /* value = (:before right) + (:before border-right) - (:after border-right) */
  border-width:0 13px 13px;
}

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
  top:10px; /* controls vertical position */
  bottom:auto;
  left:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 30px 15px 0;
  border-color:transparent #333;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 21px 9px 0;
  border-color:transparent #fff;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
  top:20px; /* controls vertical position */
  bottom:auto;
  left:auto;
  right:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 0 15px 30px;
  border-color:transparent #333;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
  top:26px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:auto;
  right:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 0 9px 21px;
  border-color:transparent #fff;
}
