<?xml version="1.0"?>
<configuration>
  <connectionStrings>
  <add name="whitmanenterprisecraigslistEntities" connectionString="metadata=res://*/VincontrolCraigslist.csdl|res://*/VincontrolCraigslist.ssdl|res://*/VincontrolCraigslist.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=50.62.136.169;User Id=vincontroladmin;password=saigon1451;Persist Security Info=True;database=whitmanenterprisecraigslist&quot;" providerName="System.Data.EntityClient" />
  <add name="whitmanenterprisewarehouseEntities" connectionString="metadata=res://*/VincontrolOldWareHouse.csdl|res://*/VincontrolOldWareHouse.ssdl|res://*/VincontrolOldWareHouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.55.131.169;initial catalog=whitmanenterprisewarehouse;persist security info=True;user id=vincontroladmin;password=saigon1451;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="vincontrolscrappingEntities" connectionString="metadata=res://*/VincontrolMarket.csdl|res://*/VincontrolMarket.ssdl|res://*/VincontrolMarket.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=216.55.131.198;User Id=vincontroladmin;password=saigon1451;Persist Security Info=True;database=vincontrolscrapping&quot;" providerName="System.Data.EntityClient" />
  <add name="vincontrolwarehouseEntities" connectionString="metadata=res://*/VincontrolNewWarehouse.csdl|res://*/VincontrolNewWarehouse.ssdl|res://*/VincontrolNewWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=72.167.54.183;initial catalog=vincontrolwarehouse;persist security info=True;user id=vincontroladmin;password=saigon1451;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="accountNumber" value="283233" />
    <add key="accountSecret" value="2fa35a763a794ce5" />
    <add key="country" value="US" />
    <add key="language" value="en" />
    <add key="DeveloperAccounts" value="danny@vincontrol.com;david@vincontrol.com" />
    <add key="TrackEmailAccount" value="alerts@vincontrol.com" />
    <add key="TradeInTrackEmailAccount" value="vinleads@vincontrol.com" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="TradeInEmail" value="tradein@vincontrol.com" />
    <add key="DefaultFromEmail" value="alerts@vincontrol.com" />
    <add key="TrackEmailPass" value="jeff1451" />
    <add key="DisplayName" value="VINCONTROL" />
    <add key="CLAPPFTPUsername" value="f259347.cldatafeed" />
    <add key="CLAPPFTPPassword" value="INVENTORYMANAGER" />
    <add key="CLAPPFTPPort" value="21" />
    <add key="CLAPPFTPHost" value="66.11.234.38" />
    <add key="LocalDataFeedFoler" value="C:\DataFeedTesting\" />
    <add key="FtpDataFeedFolder" value="DataFeedTesting" />
    <add key="VinFtpHost" value="ftp.auto-lineup.com" />
    <add key="VinFtpPort" value="21" />
    <add key="VinFtpUser" value="autoline" />
    <add key="VinFtpPassword" value="saigon1451" />
    <add key="VinFtpBackupImportDataFeed" value="BackupImporting" />
    <add key="VinFtpBackupExportDataFeed" value="BackupExporting" />
    <add key="LocalBackupImportDataFeed" value="C:\BackupDataFeedImporting" />
    <add key="LocalBackupExportDataFeed" value="C:\BackupDataFeedExporting" />
    <add key="VinFtpExportDataFeed" value="Exporting" />
    <add key="DataFeedUserDomain" value="Vincontrol3-HP\Vincontrol3" />
    <add key="DataFeedPasswordDomain" value="jeff1451" />
    <add key="TaskServer" value="97.74.87.215:3311" />
    <add key="DataFeedLog" value="C:\DataFeedLog" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AutomotiveDescriptionService6Binding" maxReceivedMessageSize="20000000">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://services.chromedata.com:443/AutomotiveDescriptionService/AutomotiveDescriptionService6" binding="basicHttpBinding" bindingConfiguration="AutomotiveDescriptionService6Binding" contract="AutomotiveService.AutomotiveDescriptionService6PortType" name="AutomotiveDescriptionService6Port" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>